<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Deals
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Holiday &amp; Christmas Cards
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Calendars &amp; Gifts
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Business Cards
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Print Advertising &amp; Office
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Signs, Banners &amp; Posters
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Labels, Stickers &amp; Packaging
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Clothing &amp; Bags
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Promotional Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Invitations, Stationery &amp; Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Websites by Vistaprint
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Design &amp; Logo
                </a>
            </li>
        </ul>
    </div>
</nav>
@code {

}
