<style>
    .scroll-container {
        white-space: nowrap; /* Prevent items from wrapping */
    }

    .category-icon {
        width: 80px; /* Fixed width for icons */
        height: 80px; /* Fixed height for icons */
    }

    .text-center {
        width: 120px; /* Fixed width for each item */
    }

    .category-title {
        text-wrap: wrap;
    }

</style>

<div class="container mt-5">
    <h2 class="mb-4">
        Explore all categories
    </h2>
    <div class="container">
        <div class="scroll-container d-flex overflow-auto">
            <div class="text-center mx-2">
                <div class="category-circle">
                    <img class="rounded-circle" alt="Deals icon" height="80" src="https://storage.googleapis.com/a1aa/image/f4T3rt9y4vQcXiCoKRXo69kghhnUJoOuoCr2Q40xRq4pzgzJA.jpg" width="80" />
                </div>
                <div class="category-title">
                    Deals
                </div>
            </div>
            <div class="text-center mx-2">
                <div class="category-circle">
                    <img class="rounded-circle" alt="Holiday &amp; Christmas Cards icon" height="80" src="https://storage.googleapis.com/a1aa/image/YLLxZs0xePSjMKxDIVvxahoBGeIFKn0Z0gf4LV9cgKvkODOnA.jpg" width="80" />
                </div>
                <div class="category-title">
                    Holiday &amp; Christmas Cards
                </div>
            </div>
            <div class="text-center mx-2">
                <div class="category-circle">
                    <img class="rounded-circle" alt="Calendars &amp; Gifts icon" height="80" src="https://storage.googleapis.com/a1aa/image/KV8R9vSYOka2CJdrY10yIxxBbpxNcMNO0bYYKeh9V1UzzgzJA.jpg" width="80" />
                </div>
                <div class="category-title">
                    Calendars &amp; Gifts
                </div>
            </div>
            <div class="text-center mx-2">
                <div class="category-circle">
                    <img class="rounded-circle" alt="Business Cards icon" height="80" src="https://storage.googleapis.com/a1aa/image/NBcK5UZpsZKpMBLm8HkMzHaKmuyxAqoFR9NpPGzg61Z6Zw5E.jpg" width="80" />
                </div>
                <div class="category-title">
                    Business Cards
                </div>
            </div>
            <div class="text-center mx-2">
                <div class="category-circle">
                    <img class="rounded-circle" alt="Print Advertising &amp; Office icon" height="80" src="https://storage.googleapis.com/a1aa/image/qzFui7dIQ6IUKl4GBUmnevowfi2cKGPOxUppwBzVphbVnBnTA.jpg" width="80" />
                </div>
                <div class="category-title">
                    Print Advertising &amp; Office
                </div>
            </div>
            <div class="text-center mx-2">
                <div class="category-circle">
                    <img class="rounded-circle" alt="Signs, Banners &amp; Posters icon" height="80" src="https://storage.googleapis.com/a1aa/image/sWXqquzcux7kMVCkajNNNm5f62OeZ9lQCwD43Y98F57PnBnTA.jpg" width="80" />
                </div>
                <div class="category-title">
                    Signs, Banners &amp; Posters
                </div>
            </div>
            <div class="text-center mx-2">
                <div class="category-circle">
                    <img class="rounded-circle" alt="Labels, Stickers &amp; Packaging icon" height="80" src="https://storage.googleapis.com/a1aa/image/FoOhzZR2xXrFAxTrlTxQ2Rflz64i1aimcvfb0kWF7WCqnBnTA.jpg" width="80" />
                </div>
                <div class="category-title">
                    Labels, Stickers &amp; Packaging
                </div>
            </div>
            <div class="text-center mx-2">
                <div class="category-circle">
                    <img class="rounded-circle" alt="Clothing &amp; Bags icon" height="80" src="https://storage.googleapis.com/a1aa/image/CFVnSJH7ZBLCFJOeqMdOFofIbpGyCngfMwV4IsM41iLiODOnA.jpg" width="80" />
                </div>
                <div class="category-title">
                    Clothing &amp; Bags
                </div>
            </div>
            <div class="text-center mx-2">
                <div class="category-circle">
                    <img class="rounded-circle" alt="Promotional Products icon" height="80" src="https://storage.googleapis.com/a1aa/image/w1liI9YejGS6byen4nsM9jQt0dG4OzWHkZ2QfWPB9fwOeM4cC.jpg" width="80" />
                </div>
                <div class="category-title">
                    Promotional Products
                </div>
            </div>
            <div class="text-center mx-2">
                <div class="category-circle">
                    <img class="rounded-circle" alt="Invitations, Stationery &amp; Home icon" height="80" src="https://storage.googleapis.com/a1aa/image/gGfg1eKqEePhhorBR0UQiPECXFC5S0uKJVu1OkSPWtNzODOnA.jpg" width="80" />
                </div>
                <div class="category-title">
                    Invitations, Stationery &amp; Home
                </div>
            </div>
            <div class="text-center mx-2">
                <div class="category-circle">
                    <img class="rounded-circle" alt="Promotional Products icon" height="80" src="https://storage.googleapis.com/a1aa/image/w1liI9YejGS6byen4nsM9jQt0dG4OzWHkZ2QfWPB9fwOeM4cC.jpg" width="80" />
                </div>
                <div class="category-title">
                    Promotional Products
                </div>
            </div>
            <div class="text-center mx-2">
                <div class="category-circle">
                    <img class="rounded-circle" alt="Invitations, Stationery &amp; Home icon" height="80" src="https://storage.googleapis.com/a1aa/image/gGfg1eKqEePhhorBR0UQiPECXFC5S0uKJVu1OkSPWtNzODOnA.jpg" width="80" />
                </div>
                <div class="category-title">
                    Invitations, Stationery &amp; Home
                </div>
            </div>
            <div class="text-center mx-2">
                <div class="category-circle">
                    <img class="rounded-circle" alt="Promotional Products icon" height="80" src="https://storage.googleapis.com/a1aa/image/w1liI9YejGS6byen4nsM9jQt0dG4OzWHkZ2QfWPB9fwOeM4cC.jpg" width="80" />
                </div>
                <div class="category-title">
                    Promotional Products
                </div>
            </div>
            <div class="text-center mx-2">
                <div class="category-circle">
                    <img class="rounded-circle" alt="Invitations, Stationery &amp; Home icon" height="80" src="https://storage.googleapis.com/a1aa/image/gGfg1eKqEePhhorBR0UQiPECXFC5S0uKJVu1OkSPWtNzODOnA.jpg" width="80" />
                </div>
                <div class="category-title">
                    Invitations, Stationery &amp; Home
                </div>
            </div>
            <div class="text-center mx-2">
                <div class="category-circle">
                    <img class="rounded-circle" alt="Promotional Products icon" height="80" src="https://storage.googleapis.com/a1aa/image/w1liI9YejGS6byen4nsM9jQt0dG4OzWHkZ2QfWPB9fwOeM4cC.jpg" width="80" />
                </div>
                <div class="category-title">
                    Promotional Products
                </div>
            </div>
            <div class="text-center mx-2">
                <div class="category-circle">
                    <img class="rounded-circle" alt="Invitations, Stationery &amp; Home icon" height="80" src="https://storage.googleapis.com/a1aa/image/gGfg1eKqEePhhorBR0UQiPECXFC5S0uKJVu1OkSPWtNzODOnA.jpg" width="80" />
                </div>
                <div class="category-title">
                    Invitations, Stationery &amp; Home
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
