<div class="main-content container-fluid p-4">
    <div class="row">
        <div class="col-md-7 d-flex justify-content-center flex-column p-5">
            <h1>
                Everything you need for the busy season? We print that.
            </h1>
            <p>
                Get $30 off orders $200+ to make the holidays a breeze.
            </p>
            <p>
                <strong>
                    Code: PROMO
                </strong>
                | Ends Oct. 20
            </p>
            <div class="d-inline-flex">
                <button class="btn btn-dark">
                    Shop holiday prep
                </button>
                <button class="btn btn-outline-dark">
                    Business Cards
                </button>
                <button class="btn btn-outline-dark">
                    Marketing Materials
                </button>
                
            </div>
            <p class="note">
                Not combinable with other offers.
            </p>
        </div>
        <div class="col-md-5 d-flex justify-content-center flex-row">
            <img alt="Promotional materials including business cards and holiday sale items" class="img-fluid" height="100" src="https://storage.googleapis.com/a1aa/image/0Bxb7mlh4fUUA66fyGjvSeCZFNewqGN7RxGCGvdaOC7XQf3cC.jpg" width="300" />
        </div>
    </div>
</div>

@code {

}
