


/*custom*/

body {
    font-family: Arial, sans-serif;
}

.navbar {
    border-bottom: 1px solid #e0e0e0;
}

.navbar-brand img {
    height: 30px;
}

.promo-banner {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.main-content {
    background-color: #f5f0e6;
    padding: 20px;
}

    .main-content h1 {
        font-size: 24px;
        font-weight: bold;
    }

    .main-content p {
        font-size: 16px;
    }

    .main-content .btn {
        margin-right: 10px;
    }

    .main-content .note {
        font-size: 12px;
        color: #666;
    }

    .main-content img {
        border-radius: 8px;
    }

.category-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

    .category-circle img {
        max-width: 80%;
        max-height: 80%;
    }

.category-title {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    text-wrap: wrap;
}

.product-card {
    border: none;
    text-align: center;
}

    .product-card img {
        width: 100%;
        border-radius: 8px;
    }

.product-title {
    margin-top: 10px;
    font-size: 14px;
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
    height:4px;
   
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: black;
    }


.scroll-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping */
    padding:20px;
    
}

.category-icon {
    width: 80px; /* Fixed width for icons */
    height: 80px; /* Fixed height for icons */
}

.text-center {
    width: 120px; /* Fixed width for each item */
}

