<div class="container mt-5">
    <h2 class="mt-5 mb-4">
        Find holiday gifts for clients & employees
    </h2>
    <div class="container">
        <div class="scroll-container d-flex overflow-auto">
            <div class="col-md-2 m-3">
                <div class="product-card">
                    <img alt="Wrapping Paper" height="200" src="https://storage.googleapis.com/a1aa/image/0edeUdNZeRFBEI5JzuTOwMRaECxEVZ4Eas1j0ZxfC5HidGcOB.jpg" width="200" />
                    <div class="product-title">
                        Wrapping Paper
                    </div>
                </div>
            </div>
            <div class="col-md-2 m-3">
                <div class="product-card">
                    <img alt="Wrapping Paper" height="200" src="https://storage.googleapis.com/a1aa/image/0edeUdNZeRFBEI5JzuTOwMRaECxEVZ4Eas1j0ZxfC5HidGcOB.jpg" width="200" />
                    <div class="product-title">
                        Wrapping Paper
                    </div>
                </div>
            </div>
            <div class="col-md-2 m-3">
                <div class="product-card">
                    <img alt="Tissue Paper" height="200" src="https://storage.googleapis.com/a1aa/image/3z725MVU0GLyE1ogvnw0kiEFZBfLSM4VvgVJxkgZfpKdnBnTA.jpg" width="200" />
                    <div class="product-title">
                        Tissue Paper
                    </div>
                </div>
            </div>
            <div class="col-md-2 m-3">
                <div class="product-card">
                    <img alt="Shipping Boxes" height="200" src="https://storage.googleapis.com/a1aa/image/AZptmXjrVq7OFBbV0Gz8EjLOSF64Yqy9sGglo7ZmAfArzgzJA.jpg" width="200" />
                    <div class="product-title">
                        Shipping Boxes
                    </div>
                </div>
            </div>
            <div class="col-md-2 m-3">
                <div class="product-card">
                    <img alt="Packaging Tape" height="200" src="https://storage.googleapis.com/a1aa/image/8JeMXIv3eVsGNUGbGfjNDFz7syjUEbI7TynHqHlIrr8EPDOnA.jpg" width="200" />
                    <div class="product-title">
                        Packaging Tape
                    </div>
                </div>
            </div>
            <div class="col-md-2 m-3">
                <div class="product-card">
                    <img alt="Roll Labels" height="200" src="https://storage.googleapis.com/a1aa/image/Kg1vhX1lflUhXKdPgNTTpEMwpX1KTWgxBA3i5rfnZVkbnBnTA.jpg" width="200" />
                    <div class="product-title">
                        Roll Labels
                    </div>
                </div>
            </div>
            <div class="col-md-2 m-3">
                <div class="product-card">
                    <img alt="Hang Tags" height="200" src="https://storage.googleapis.com/a1aa/image/JWfDd6VJ4mzELKbxOEjDhvyaPXWgVUz7HP2ij2HFVv7vzgzJA.jpg" width="200" />
                    <div class="product-title">
                        Hang Tags
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
